<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
        version="2.4">
    <display-name>TimeSheet</display-name>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>timesheet</param-value>
    </context-param>

    <context-param>
        <param-name>version</param-name>
        <param-value>2.0.5</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>application-message</param-value>
    </context-param>

    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>        
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/config/struts-config.xml,
            /WEB-INF/config/struts-config-funcionario.xml,
			/WEB-INF/config/struts-config-atividade.xml,
			/WEB-INF/config/struts-config-configurar.xml</param-value>
        </init-param>
        <init-param>
            <param-name>convertNull</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <init-param>
			<param-name>chainConfig</param-name>
			<param-value>org/apache/struts/tiles/chain-config.xml</param-value>
		</init-param>
		<init-param>
            <param-name>debug</param-name>
            <param-value>3</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>403</error-code>
        <location>/WebContent/erro/erroLogin.jsp?mensagem=Usuário sem permissão para acessar funcionalidade</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/WebContent/erro/erroGeral.jsp?mensagem=Página não encontrada.</location>
    </error-page>
       
    <error-page>
        <error-code>408</error-code>
        <location>/WebContent/erro/erroLogin.jsp?mensagem=Página Expirada.</location>
    </error-page>
</web-app>