@charset "utf-8";
/* CSS Document */


body { background-color:#dadada;
background-image:url(../img/fundo_topo_azul.jpg);
background-position:top; background-repeat:repeat-x;
margin:0px; text-align:center; font-family:Verdana, Geneva, sans-serif;
font-size:11px; color:#666; }


.base {
	position:absolute;  /*Contexto de posicionamento */
	margin:0 auto;
	text-align:left;
	min-height:100%;/**/
	width:100%;
}

a {color:#00779e; }

.avaliado {color:red; text-decoration: blink;} 

body > #wrap {height: auto; min-height: 100%;} 

#main {padding-bottom: 101px;}  /* deve ser a mesma altura do rodapé */

#footer { 
position: relative; 
margin-top: -101px; /* A mesma altura do rodapé, o valor deve ser negativo */
height: 101px; 
clear:both;
background-image:url(../img/fundo_rodape_azul.jpg);
text-align:center;
}

.titulo {
	width:98%;
	float:left;
	color: #fff;
	background-image:url(../img/fundo_topo_azul.jpg);
	background-position:top; background-repeat:repeat-x;	
	font-size:12px;
	font-weight:bold;		
	text-align: left;
	padding-left: 20px;
	margin-top: 5px;	
}

#header { width:99%; height:70px; }

.barraIcones {margin-right:25px; text-align:right; display:block;  margin-top:5px; letter-spacing:10px; float:right; }

img {border:none;}

.titulo-formulario-pesquisa {
	float:left;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	margin-left:10px;	
	padding-left: 10px;
	padding: 5px;
	background-image:url(../img/bgBotoesJanela.jpg); 
	background-repeat:repeat-y; 
	background-position:left;
	margin-bottom:5px;
	
	width:100%; height:20px; 
}

.conteudo-formulario-detalhamento {
	width:100%; 
	background-color:#FFF;
	margin-top:0px;
	padding-top:10px;
	font-size:10px;
	width:800px;
	min-height:100px;
	display: table-cell;
	border-top:1px solid #00779e;
}

.input_position {
	padding-top:0px;
	float:left;
	padding-bottom:8px;
	text-align:left; 
	margin-left:8px;
	margin-right:15px;
}

.input_position_total {
	padding-top:0px;
	float: inherit;
	text-align:center; 
	margin-left:8px;
	margin-right:8px;
}


.cabecalho { height:30px; width:100%;
	border-bottom:1px solid #00779e; 
	display:block; 
	background-image:url(../img/cabecalho.png); 
	background-repeat:no-repeat; text-align:left; 
}

.infoUsuario {
	font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#fff;float: right; margin-right: 15px;}

.formulario { background-color:#FFF; display: table-cell; padding-top:5px; padding-bottom:5px; }


.final_formulario { width:100%; height:55px; text-align:right; }

.final_formulario_popUp { width:100%; height:55px; border-top:1px solid #00779e; text-align:right;  }

.final_formulario img{margin-top:5px; margin-right:20px; cursor:pointer; text-decoration:none; }

.botoesJanela{width:99%; height:7%; background-image:url(../img/bgBotoesJanela.jpg); background-repeat:repeat-y; background-position:left; margin-bottom:5px; text-align:left; padding-top:3px;}

/*---------------------------------------------------Formulário----------------------------------------------------*/

.subtitulo { font-family:Verdana, Geneva, sans-serif; font-size:11px; font-weight:bold; color:#00779e; float:left; margin-left:10px; text-align:left; width:100%; margin-top:10px; }

.foco {
	padding:1px; 
	text-align:left; 
	float:left; 
	margin-left: 1px; 
	margin-right:5px;
	width:auto;
	margin-bottom:-3px;
}


.foco a:active {background-color:#bdcdd2;}

.label {font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; }

.labelDetalhar {
	width:110px;	
	float:left;
	padding-top:1px; 
	padding-bottom:1px;
	text-align:left; 
	margin-left:8px;
	font-weight:bold;
	margin-right:1px;
}

.campoLeitura { font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#00779e; border:1px solid #00779e; background-color:#ece9d8;}
.campo { font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; border:1px solid #00779e; background-color:#ece9d8;}

.botoesMeio { float:right; padding-right:40px; padding-top:20px; padding-bottom:20px;}

.botoesMeioPopUp { float:right; padding-right:1px; padding-top:10px; padding-bottom:5px;}
/*---------------------------------------------------Tabela----------------------------------------------------*/



.lista { font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; font-weight:normal;}

.lista th {  font-weight:normal; background-color:#ece9d8; border-left:1px solid #FFF; text-align:left; padding-left:2px; padding-right:2px; }			 

.lista th.h1 { font-weight:bold; background-color:#ece9d8;  }
.lista th.h2 { font-weight:normal; background-color:#E2EBF3; }/* linha selecionada */
.lista th.h3 { font-weight:normal; color:#00779e; background-color:#ece9d8; }

.lista td { background-color:#fff; border-left:1px solid #FFF; text-align:left; padding-left:2px; padding-right:2px; vertical-align:top;  }

.lista td.h1 { font-weight:bold; background-color:#fff; }
.lista td.h2 { background-color:#E2EBF3; }/* linha selecionada */
.lista td.h3 { background-color:#fff; color:#00779e; }

.lista td div {
color:#FF0000; 
padding:5px; 
width:200px; 
height:100px; 
overflow:auto; 
}

.lista img { cursor:pointer;}

/*--------------------------------------Login-------------------------------------------------*/

#corpologin { width:770px; margin:auto; background-image:url(../img/mainlogin.png); }

.topologin { height:30px; width:100%; display:block; background-image:url(../img/topo_login.png); background-repeat:no-repeat; text-align:left; }

.final_login { width:100%; height:30px; background-image:url(../img/final_login.png); text-align:right;  }

.labelLogin {font-family:Verdana, Geneva, sans-serif; 
	font-size:11px; 
	color:#00779e; 
	float:left; 
	font-weight:bold; 
	padding-top:2px; 
	margin-top:12px; 
	margin-left: 10px; 
	margin-right:15px; }

.campoLogin { font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; border:1px solid #00779e; background-color:#fff; margin-left:10px; margin-top:13px;}

/*-----------------------------Tabela Régua de Horarios-------------------------------------------------*/

.regua {background-color:#FFFFFF;}

.regua td {font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; font-weight:normal; border-left:1px solid #FFF; text-align:left; background-color:#fff; border:1px solid orange; }
.regua td div {color:#FF0000;padding:5px;width:50%;height:100px;overflow-x:auto; border:1px solid green}


/*-----------------------------Tabela Atividades-------------------------------------------------*/

.paneEstatistica { background-color:#ece9d8;}

.paneEstatistica th { font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; font-weight:normal; background-color:#ece9d8; border-left:1px solid #FFF; text-align:left;}
.paneEstatistica th.h1 { font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; font-weight:bold; background-color:#c9d3d8; border-left:1px solid #FFF; text-align:left; padding-left:2px; padding-right:2px;}
.paneEstatistica th.h2 { background-color:#F90; border-left:1px solid #FFF; text-align:left; }
.paneEstatistica th.h3 { background-color:#CCC; border-left:1px solid #FFF; font-weight:bold; text-align:left; }
.paneEstatistica th.h4 { background-color:#808080; border-left:1px solid #FFF; text-align:left; width:10px;  }
.paneEstatistica th.h5 { background-color: #EFC698; border-left:1px solid #FFF; text-align:center;  }/*sabados, domingos e feriados*/
.paneEstatistica th.h6 { background-color: #fff; border:1px solid #F90; text-align:center; width:10px;  }/*ferias pedidas, mas ainda nao aprovadas*/


.paneEstatistica td { font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; font-weight:normal; border-left:1px solid #FFF; text-align:left; background-color:#fff;/*width: auto;*/}
.paneEstatistica td.h1 { font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; font-weight:bold; border-left:1px solid #FFF; text-align:left; padding-left:2px; padding-right:2px; background-color:#ece9d8;}
.paneEstatistica td.h2 { background-color:#F90; border-left:1px solid #FFF; text-align:left; }
.paneEstatistica td.h4 { background-color:#808080; border-left:1px solid #FFF; text-align:left; }
/*.paneEstatistica td div {color:#FF0000; width:100%; overflow:auto;}*/

/*--------------------------------------Mensagens--------------------------------------------------------------*/

.boxMensagemBl {width:600px; height:70px; margin:80px; border:5px solid #ece9d8;}
.textoMensagemBl {font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; width:450px; margin:20px; float:left;} 
.iconeMensagemBl {width:100px; float:right; height:60px; background-color:#ece9d8; padding-top:10px; }

.boxMensagemS {width:700px; height:50px; margin:30px; margin-top:10px; border:5px solid #ece9d8;}
.textoMensagemS {font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666; width:620px; height:40px; vertical-align:middle; margin:10px; float:right;} 
.iconeMensagemS {width:60px; float:left; height:40px; background-color:#ece9d8; padding-top:10px; }

